# Binary files
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.svg binary
*.stl binary
*.step binary
*.stp binary
*.iges binary
*.igs binary
*.dxf binary
*.dwg binary
*.kicad_pcb binary
*.kicad_sch binary
*.brd binary
*.sch binary
*.gbr binary
*.gbl binary
*.gtl binary
*.gbs binary
*.gts binary
*.gbo binary
*.gto binary
*.drl binary
*.hex binary
*.bin binary
*.elf binary
*.zip binary
*.tar.gz binary
*.3dshapes binary
*.wrl binary
*.pretty binary
